@import url("../styles/style2.css");
@import url("../styles/style3.css");
@import url("../styles/style4.css");
/*Essential Formatting*/
* {
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
    box-sizing:border-box;
}
/*Layout Grid*/
.homepage {
    display: grid;
    grid-auto-flow:dense;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr 1fr 3fr .1fr;
    gap: 10px 10px;
    align-items:start;
}
#blogpostGrid{
    grid-template-rows:.1fr .1fr .1fr;

}
/*Website Name*/
#title{
    font-family: 'Montserrat', sans-serif;
    font-weight:normal;
    font-size: 25px;
    padding: 0 100px  0 0 ;
    color: #2d2d2d;
}
/*Nav Bar*/
.menu{
    grid-column:2;
}
.menu ol {
    display:flex;
    flex-direction:row;
    list-style:none;
    align-items:center;
    justify-content:center;
    margin:50px 0 50px;
    gap:20px;
    width:100%;
}
#home{

}
#about{

}
.formbutton{
    background-color: #9599E2;
    border-radius: 10px;
    padding:5px;
    filter:drop-shadow(2px 2px 3px black);
}
.form{
    border-right-style: none;
    border-top-style: none;
    border-left-style: none;
    padding-top:20px;
    padding-bottom:10px;
}
.formbox{
    display:flex;
    flex-direction: column;
    color:black;
    grid-column: 2;
    grid-row: 3;
    align-items:center;
}
#contact{

}
/*Link Color and Underline Fix + Color Change Animation*/
a{
    text-decoration:none;
    color: #383838;
}
a:hover{
    color: #f08a5d;
    transition:.25s;
}
/*Gallery Box*/
.contentBox{
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 50px 0 0;
    grid-row:2;
    grid-column:2;
}
#blogpostContentBox{
    margin-top:-50px;
}
.youtubeBox{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding: 50px 0 0;
    grid-row:2;
    grid-column:2;

}
.youtubeBox h2{
    margin-top:-50px;
}
/*Image Formatting*/
.images{
    display:flex;
    flex-direction:column;
    width:200px;
    height:500px;
    border-radius:10px;
    transition:width .5s;
}
/*Home Page Images*/
#blog1{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/photography.jpg");
}
#blog2{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/saturatedwebsite.png");
}
#blog3{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/webdesign.jpg");
}
/*Photography Page Images*/
#pIMG1{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/photography4.jpg");
}
#pIMG2{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/photography3.jpg");
}
#pIMG3{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/photography2.jpg");
}
/*Web Design Page Images*/
#wIMG1{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/webdesign1.png");
}
#wIMG1 h3{ /*Text on White BG Fix*/
    color: #363636;
    filter: drop-shadow(1px 1px 0 white);
}
#wIMG2{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/webdesign2.png");
}
#wIMG2 h3 { /*Text on White BG Fix*/
    color: #363636;
    filter: drop-shadow(1px 1px 0 white);
}
#wIMG3{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/webdesign3.png");
}
/*Programming Page Images*/
#prIMG1{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/programming4.webp");
}
#prIMG2{

    background-size: cover;
    background-position: center;
    background-image: url("../Images/programming2.webp");
}
#prIMG3{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/programming3.jpg");
}
/*Contact Page Images*/
#cIMG1{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/contact1.jpg");
}
#cIMG2{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/contact2.jpg");
}
#cIMG3{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/contact3.jpg");
}
/*About Page Images*/
#aIMG1{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/about2.jpg");
}
#aIMG2{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/about1.jpg");
}
#aIMG3{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/about3.jpg");
}
/*Gallery Stretch Animation + Text Popup*/
.images h3{
    position:relative;
    margin:460px 0 0 10px;
    color: #f6f6f6;
    opacity:0;
    filter: drop-shadow(3px 3px 0 black);
    transition: .5s;
}
.images:hover{
    width:400px;
}
.images:hover h3{
    opacity:1;
    margin:440px 0 0 10px;
}
/*Text on White BG Fix*/
#blog2 h3{
    color: black;
    filter: drop-shadow(1px 1px 0 white);
}
#cIMG1 h3{
    color: black;
    filter: drop-shadow(1px 1px 0 white);
}
#cIMG2 h3{
    color: black;
    filter: drop-shadow(1px 1px 0 white);
}
#cIMG3 h3{
    color: black;
    filter: drop-shadow(1px 1px 0 white);
}
/*Blur Animation for Images*/
.contentBox .images{
    filter:blur(0px);
    transition:.5s;
}
.contentBox:hover .images{
    filter:blur(3px);
    transition:.5s;
}
.contentBox .images:hover{
    filter:blur(0px);
    transition:.5s;
}
/*Article Formatting and Box*/
.articlebox{
    grid-row: 3;
    grid-column:2;
    box-shadow:3px 2px 10px #424242;
}
#blogpostArticleBox{
    padding-bottom:50px;
}
#articlebox1{
    padding-bottom:50px;
}
p {
    padding:0 50px 0;
}
h2{
    padding:25px 0 25px 25px;
}
/*Page Loading Animation*/
body{
    animation: pageload ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}
/*Page Loading Keyframes*/
@keyframes pageload{
    0%{
        opacity:0;
        scale:75%
    }
    100%{
        opacity:100%;
        scale:100%
    }
}
/*Mobile Responsiveness*/
@media only screen and (max-width:550px){
    .homepage{
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .1fr .1fr 1fr;
        gap: 0 0;
    }
    .images{
        width:300px;
        height:300px;
    }
    .images:hover{
        animation: none;
    }
    .menu ol{
       flex-direction:column;
        margin:50px 0 0;
        gap:20px;
    }
    #title{
        padding:0;
    }
    .articlebox{
        padding-bottom:50px;
    }
    #blogpostContentBox{
        margin-top:-25px;
    }
    .contentBox{
        flex-direction: column;
    }
    .contentBox .images{
        filter:none;
        transition:none;
    }
    .contentBox:hover .images{
        filter:none;
        transition:none;
    }
    .contentBox .images:hover{
        filter:none;
        transition:none;
    }
    .images h3{
        opacity:1;
        margin: 250px 0 0 10px;
    }
    .images:hover{
        width:300px;
    }
    .images:hover h3{
      margin: 250px 0 0 10px;
    }
}
