#blogpost3bg{
    background-color: #deffed;
    background-image: linear-gradient(45deg, #deffed 0%, #fffbc8 100%);
}
#articlebox3{
    background-color:white;
    padding-bottom:50px;
}
#pLink{
    font-weight:bold;
}